{% extends 'blog/base.html' %}
{% block title %}Blog | {{article.titre}}{% endblock %}
{% block body %}
  <article>
  	<h1 class="appblog">Blog</h1>
    <h2 class="title">#{{ article.id }} - {{ article.titre }}</h2>
    <p class="content">{{ article.contenu }}</p>
    <time class="time" datetime="{{ article.date|date:'Y-m-d' }}">
      &#x23F0; Posté il y a de cela {{ article.date|timesince }}
    </time>
    <strong class="auteur">par {{ article.auteur }}</strong>
  </article>
  <a href='{% url 'blog:index' %}'>&#x1F6AA; All posts</a>
{% endblock %}
