{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NORACO{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    {% include 'layouts/_nav.html'%}
    <div class="wrapper">
        <br>
        {% block content %}{% endblock %}
    </div>
    {% include 'layouts/_footer.html'%}
  </body>
</html>
