/* Fonts */

/* Reset */
*{
  margin: 0;
  padding: 0;
}

/* Helpers */
.wrapper{
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

.text-center{
  text-align: center;
}

/* Main styles */
body{
  font-family: 'Open Sans', Times, sans-serif;
  background-color: #fefefe;
}

.navbar{
  background-color: #000;
  border-top: 4px solid grey;
  padding: 1em 0;
}

.navbar .navbar-brand{
  font-size: 1.8em;
  color: #ffffff;
  text-decoration: none;
}

.navbar .navbar-right{
  float: right;
}

.navbar .navbar-right li{
  display: inline-block;
  list-style: none;
  margin-top: 0.3em;
  margin-right: 0.8em;
}

.navbar .navbar-right li:last-child{
  margin-right: 0;
}

.navbar .navbar-right li a{
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-right li a:hover{
  color: grey;
}

.footer{
  margin-top: 3em;
  color: rgba(0, 0, 0, 0.6);
}

.footer:before{
  content: " ";
  display: block;
  height: 1px;
  background-color: grey;
  width: 20%;
  margin: 0.5em auto;
}
em{
  font-size: 13px;
}
#form{
  width: 600px;
  text-align: justify;
  background-color: #fff;
  border : 1px solid #c5e5c5;
  border-radius: 10px;
  margin-bottom: 2em;
  padding: 1em;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.3 )
}

#form:hover{
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.5 )
}

#form p{
  padding-bottom: 15px;
}
p input{
  border-radius: 5px;
  width: 150px;
}
textarea{
  border-radius: 5px;
  height: 60px;
  width: 500px;
}
.wrapper .ok{
  float: right;
  padding: 0.8em;
}
